@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dk-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --lt-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lt-gray);
    font-family: 'Poppins', sans-serif; 
}

.main {
    margin: 80px auto;
    width: 82%;
}

.top-intro h1, 
.top-intro h2,
.top-intro p {
    text-align: center;
}

.top-intro h1, .top-intro h2 {
    color: var(--dk-blue);
}
.top-intro h1 {
    font-weight: 200;
    padding-bottom: 8px;
}

.top-intro h2 {
    padding-bottom: 15px;
}

.top-intro p {
    color: var(--gray-blue);
    font-size: 15px;
    padding-bottom: 78px;
}

.card {
    background-color: var(--white);
    box-shadow: 1px 6px 12px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow: 1px 6px 12px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 1px 6px 12px 5px rgba(0,0,0,0.11);
    border-radius: 10px;
    height: 220px;
    margin-bottom: 30px;
    padding: 20px 30px;
    position: relative;
}

.card h1, .card p {
    text-align: left;
}

.card h1 {
    font-size: 20px;
    color: var(--dk-blue);
    font-weight: 600;
}

.card p {
    color: var(--gray-blue);
    font-size: 13px;
    padding-bottom: 30px;
}

.card-one{
    border-top: 4px solid var(--cyan);   
}

.card-two{
    border-top: 4px solid var(--red);    
}

.card-three{
    border-top: 4px solid var(--orange);    
}

.card-four{
    border-top: 4px solid var(--blue);
}

img {
    height: 55px;
    float: right;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 500px) {
    .main {
        margin: 77px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top-intro {
        width: 500px;
    }

    .top-intro h1, .top-intro h2 {
        font-size: 36px;
    }

    .top-intro h1 {
        padding-bottom: 0;
    }

    .top-intro p {
        padding-bottom: 65px;
    }
    .card {
        width: 350px;
        height: 250px;
        padding: 32px;
    }

    .cards {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .card h1 {
        padding-bottom: 12px;
    }

    .card img {
        height: 60px;
    }


    }
    

